@using Nop.Web.Framework.Infrastructure

<div class="layerslider-container-outer"
     style="
     width: 100%;
     background: url('/images/layerslider/2.png');
            ">
    <div class="layerslider-container-inner" style="max-width: 800px; width: 100%; margin: 0 auto;">
        <div id="hp-ls" style="width: 700px; height: 700px;">
            <div class="ls-slide">

                <!--Logo Image-->
                <div class="ls-l" style="width: 90%; height: auto; top: 30%; left: 50%;">
                    <img src="/images/layerslider/1.png" alt="Main Slider Image" style="width: 100%; height: auto;" />
                </div>

                <!--Link Image-->
                <div class="ls-l"
                     style="
                        width: 60%;
                        height: auto;
                        top: 70%;
                        left: 50%;
                     "

                     data-ls="
                     hover:true;
                     hoveroffsety:-2sh;
                     "
                >
                    <a href="/shop" alt="Link to Shop">
                        <img src="/images/layerslider/3.png" style="width: 100%; height: auto;" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row p-5 align-items-center justify-content-center">
    <div class="col-xs-12 col-sm-4">
        <img src="~/images/us-map.png" style=" width: 90%; height: auto; max-width: 600px; margin: auto;" />
    </div>
    <div class="col-xs-12 col-sm-4">
        <h1>Made in America</h1>
        <div class="light-hr"></div>
        <p>
        Family owned & operated since 1970, we at Magic Bait have been dedicated to making the highest quality of products with the finest ingredients.
        <br /><br />
        Our mission is to stay true to our humble beginnings, remembering the days when our founder, Paul Hampton, started testing formulas in his wife's kitchen.
        <br /><br />
        Since the beginning, we've produced premium fishing products made with <strong>100% natural ingredients.</strong>
        <br /><br />
        We think family is the most important thing in life, second only to God. It's more important than ever to spend quality time together.
        <br /><br />
        So grab your gear, get some bait, and round 'em up for some fishin'. It's time to make some memories.
        </p>
    </div>
</div>
<div class="row p-5 align-items-center justify-content-center">
    <div class="col-xs-12">
        <h2 class="text-center">Our Instagram</h2>
        <div id="instagram"></div>
    </div>
</div>

    <script asp-location="Footer">
        $(document).ready(function () {

            $('#hp-ls').layerSlider({
                type: 'responsive',
                showCircleTimer: false
            });

            $("#instagram").myig(
                ins_id = 1681294420, // your user_id
                ins_count = 9, // Count of media to return
                ins_token = '1681294420.12ed2b4.c4ac9d9ac7784bb0b1f6c478f320d4ec' // your token
            );

            $(".user_gallery a").featherlightGallery({
                previousIcon: '«',
                nextIcon: '»',
                galleryFadeIn: 300,
                openSpeed: 300
            });;

        });
    </script>
