@using Nop.Web.Framework.Infrastructure
@using Nop.Services.Catalog
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <div class="back-button" id="closeSidebar" alt="Close Sidebar">
        <span>Back<i class="fas fa-arrow-right"></i></span>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <div class="sidebar-logo">
                @await Component.InvokeAsync("Logo")
            </div>
        </li>
        <ul>
         @await Component.InvokeAsync("SidebarUserLinks")
        </ul>
        <li class="sidebar-site-link sidebar-shop-link">
            <a href="/shop">Shop</a>
        </li>
        <li class="sidebar-site-link">
            <a href="/about">About</a>
        </li>
        <li class="sidebar-site-link">
            <a href="/contact">Contact</a>
        </li>
    </ul>
</div>
<div class="overlay"></div>
<!-- /#sidebar-wrapper -->

<script asp-location="Footer">
    $(document).ready(function () {

        $('#sidebar-price').append(cartPrice);

        $("#menu-toggle, #menu-toggle-desktop").click(function (e) {
            e.preventDefault();
            $("#wrapper").addClass("toggled");
            $("#sidebar-wrapper").addClass('sidebar-wrapper-toggled');
        });

        $('#closeSidebar').click(function () {
            $("#wrapper").removeClass("toggled");
            $("#sidebar-wrapper").removeClass('sidebar-wrapper-toggled');
        });

    });

    //Check on resize if we need to close the sidebar menu out
    $(window).resize(function () {
        if ($(window).width() > 1030) {
            $("#wrapper").removeClass("toggled");
            $("#sidebar-wrapper").removeClass('sidebar-wrapper-toggled');
        }
    });
</script>
