@model IList<ProductOverviewModel>
@using Nop.Web.Framework.Infrastructure
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.RecentlyViewedProducts").Text);
    //page class
    Html.AppendPageCssClassParts("html-recently-viewed-products-page");
}
<div class="page recently-viewed-products-page">
    <div class="page-title">
        <h1>@T("Products.RecentlyViewedProducts")</h1>
    </div>
    <div class="page-body">
        @if (Model.Count > 0)
        {
            <div class="product-grid">
                <div class="item-grid row">
                    @foreach (var product in Model)
                    {
                        <div class="item-box col-xs-12 col-sm-5 col-lg-5 col-xxl-4 col-xxxl-3 px-3 pb-2 my-3">
                            @await Html.PartialAsync("_ProductBox", product)
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
