@model CustomerAddressEditModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    Html.AppendPageCssClassParts("html-account-page");
    //page class
    Html.AppendPageCssClassParts("html-address-edit-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Addresses })
}
<form asp-route="CustomerAddressAdd" method="post">
    <div class="page account-page address-edit-page row justify-content-center align-itmes-center">
        <div class="col-xs-12 col-sm-6 max-width-block">
            <div class="page-title">
                <h1>@T("Account.MyAccount") - @T("Account.CustomerAddresses.AddNew")</h1>
            </div>
            <div class="page-body">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                @{
                    var dataDictAddress = new ViewDataDictionary(ViewData);
                    dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                    @await Html.PartialAsync("_CreateOrUpdateAddress", Model.Address, dataDictAddress)
                }
                <div class="buttons d-flex justify-content-center">
                    <input type="submit" class="secondary-button save-address-button" value="@T("Common.Save")" />
                </div>
            </div>
        </div>
    </div>
</form>