<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Add the email settings to the <system.net> element -->
  <system.net>
    <mailSettings>
      <smtp from="mckenna@mckennahampton.com">
        <network
             host="smtp.gmail.com"
             port="587"
             userName="mckenna@mckennahampton.com"
             password="%*uP$!d3D0wN*%" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules>
      <!-- Remove WebDAV module so that we can make DELETE requests -->
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <!-- Remove WebDAV module so that we can make DELETE requests -->
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <!-- When deploying on Azure, make sure that "dotnet" is installed and the path to it is registered in the PATH environment variable or specify the full path to it -->
    <aspNetCore requestTimeout="23:00:00" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" startupTimeLimit="3600" />
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <healthMonitoring enabled="true" heartbeatInterval="0">
      <providers>
        <add
          name="notifyAppDev"
          type="System.Web.Management.SimpleMailWebEventProvider"
          to="mckenna@mckennahampton.com"
          from="errors@magicbait.com"
          subjectPrefix="[Magicbait.com error]"
          buffer="false" />
      </providers>
      <rules>
        <add name="appDevEvents" eventName="All Errors" provider="notifyAppDev" profile="Critical" minInstances="1" maxLimit="Infinite" minInterval="00:01:00" custom="" />
      </rules>
    </healthMonitoring>
  </system.web>
</configuration>