a:focus, button:focus {
    outline: 0;
}

.dropdown {
    &::before {
        @include triangle("up", 2rem, 1rem, #000000);
        content: "";
    }
}

.desktop-main-button {
    padding: 8px;
    font-size: 25px;
    font-family: Geoslab;
    font-weight: 100;
    margin: 5px 0px;

    &:hover {
        cursor: pointer;
    }
}

.cart-button, .checkout-button {
    width: 90%;
    box-shadow: 4px 4px 5px 0.5px rgba(0,0,0,0.3);
}

.desktop-main-button {
    border: 2px solid black;
    color: black;
    background: white;
}

.cart-button, .sub-cat-button, .sub-cat-close-button {
    background: $color1;
    color: #fff;
    border: 2px solid #fff;
    @include stroke(1px, #000);
}

.checkout-button, .shop-button {
    background: $color2;
    color: #fff;
    border: 2px solid #fff;
    @include stroke(1px, #000);

    &:hover {

        text-decoration: none;
        color: #fff;

    }
}

.shop-button, .sub-cat-button, .sub-cat-close-button {
    padding: 5px 10px;
    box-shadow: 4px 4px 5px 0.5px rgba(0,0,0,0.3);
}

.shop-button {
    margin: 10px auto;
}

.sub-cat-button, .sub-cat-close-button {
    font-size: 20px;
    font-weight: normal;
}

.close-button {
    color: $color5;
    border: 1px solid $color4;
    border-radius: 5px;
    background: #fff;
    padding: 5px 8px;

    &:hover {
        cursor: pointer;
    }

    &:after {
        display: inline-block;
        content: "\00d7"; /* This will render the 'X' */
    }

    &:focus {
        outline: 0;
    }
}

.secondary-button, #stripe-payment-pay-button {
    background: #fff;
    border-radius: 8px;
    border: 1px solid $color2;
    margin: 10px 0px;
    font-family: Verdana;
    padding: 5px 12px;
    color: $color2;
    @include shift (all,0.2s, ease);

    &:hover {
        color: #fff;
        background: $color2;
        cursor: pointer;
    }
}
