.dropdown {
    &::before {
        @include triangle("up", 2rem, 1rem, #000000);
        content: "";
    }
}

.desktop-main-button {
    box-shadow: 4px 4px 3px 1px #f2f2f2;
    color: #fff;
    border: 2px solid #fff;
    padding: 8px;
    font-size: 25px;
    font-family: Geoslab;
    font-weight: 100;
    margin: 5px 0px;
       @include stroke(1px, #000);

    &:hover {
        cursor: pointer;
    }
}

.cart-button, .checkout-button {
    width: 90%;
}

.cart-button {
    background: $color1;
}

.checkout-button {
    background: $color2;
}

.close-button {
    color: $color5;
    border: 1px solid $color4;
    border-radius: 5px;
    background: #fff;
    padding: 5px 8px;

    &:hover {
        cursor: pointer;
    }

    &:after {
        display: inline-block;
        content: "\00d7"; /* This will render the 'X' */
    }

    &:focus {
        outline: 0;
    }
}
