[class*="-hr"] {
    width: 90%;
    margin: 10px auto;
}

.light-hr {
    border-top: 1px solid $color4;
}

.light-hr-100 {
    border-top: 1px solid $color4;
    margin: 10px auto;
    width: 100%;
}

.white-hr {
    border-top: 1px solid #fff;
}

.red-hr {
    border-top: 1px solid $color1;
}

.blue-hr {
    border-top: 1px solid $color2;
}

.hint {
    margin: 15px 0px;
}

label:not(.form-check-label) {
    margin: 10px 0px;
}

.max-width-block {
    max-width: 1000px;
}