[class*="-hr"] {
    width: 90%;
    margin: 10px auto;
}

.light-hr {
    border-top: 1px solid $color4;
}

.white-hr {
    border-top: 1px solid #fff;
}

.red-hr {
    border-top: 1px solid $color1;
}

.blue-hr {
    border-top: 1px solid $color2;
}