@model CategoryNavigationModel
@if (Model.Categories.Count > 0)
{
    <button class="secondary-button" type="button" id="categoryNavigationButton" data-toggle="collapse" data-target="#categoryNavigation" aria-expanded="false" aria-controls="categoryNavigation">Shop by Category</button>
    <div class="block mb-3 block-category-navigation collapse multi-collapse" id="categoryNavigation">
        <div class="title text-center p-3">
            <h3>Shop by Category</h3>
        </div>
        <div class="listbox">
            <ul class="list">
                @foreach (var category in Model.Categories)
                {
                    var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                    {
                        CurrentCategoryId = Model.CurrentCategoryId,
                        Category = category
                    };
                    @await Html.PartialAsync("_CategoryLine.Navigation", categoryLineModel)
                }
            </ul>
        </div>
    </div>

    <script asp-location="Footer">

        $(document).ready(function () {

            function categoryNavigationInit() {
                $categoryNavigation = $('#categoryNavigation');

                // This will fire each time the window is resized:
                if ($(window).width() >= 1024) {
                    // if larger or equal
                    $categoryNavigation.removeClass('collapse multi-collapse');

                } else {
                    $categoryNavigation.addClass('collapse multi-collapse');
                }
            }

            // This will fire when document is ready:
            $(window).resize(function () {

                categoryNavigationInit();

            }); // This will simulate a resize to trigger the initial run.


        });

    </script>
}
