.master-wrapper-content {
    background: url('stripes-light.png');
}

.master-column-wrapper {
    display: flex;
}

.home-page {
    background: #fff;
}

.center-1 {
    background: #fff;
    width: 100%;
}