.master-wrapper-content {
    background: url('stripes-light.png');
}

.master-column-wrapper {
    display: flex;
}

.home-page {
    background: #fff;
}

.center-1 {
    background: #fff;
    width: 100%;
}

.two-line-fade {
    position: relative;
    height: 3.6em; /* exactly three lines */
}

.two-line-fade:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}