h1, h2, h3, h4 {
    font-family: Geoslab!important;
    color: #000!important;
}

p, div {
    font-family: 'OpenSans Regular';
    color: #000;
}

.price, .product-price {
    color: $color3;
    font-weight: bold;
}
