.shopping-cart-page {
    width: 95%;
    margin: 0 2.5% 30px;

    .cart-master-con {
        width: 100%;
        max-width: 1200px;
    }

    .title {
        width: 100%;
        text-align: center;
    }

    .cross-sells {
        width: 100%;

        .item-box {
            max-width: 250000px;
            margin: 30px auto;


            .product-item {

                .picture img {
                    width: 100%;
                    margin: 0 auto;
                    max-width: 250px;
                }
            }
        }
        //Style the borders for various grid breakpoints
        .item-box {
            border-bottom: 1px solid $color4;
        }

        @include media-breakpoint-down(xs) {

            .item-box:nth-child(1n+1):nth-last-child(-n+1), .item-box:nth-child(1n+1):nth-last-child(-n+1) ~ .item-box {
                border-bottom: 0px;
            }
        }

        @include media-breakpoint-between(xs, sm) {

            .item-box:nth-child(2n+1):nth-last-child(-n+2), .item-box:nth-child(2n+1):nth-last-child(-n+2) ~ .item-box {
                border-bottom: 0px;
            }
        }

        @include media-breakpoint-between(md, xxxl) {

            .item-box:nth-child(3n+1):nth-last-child(-n+3), .item-box:nth-child(3n+1):nth-last-child(-n+3) ~ .item-box {
                border-bottom: 0px;
            }
        }

        @include media-breakpoint-up(xxxl) {

            .item-box:nth-child(4n+1):nth-last-child(-n+4), .item-box:nth-child(4n+1):nth-last-child(-n+4) ~ .item-box {
                border-bottom: 0px;
            }
        }
    }

    .table-wrapper {
        margin: 30px auto;
        max-width: 800px;
    }

    .td-title {
        &:hover {
            cursor: pointer;
        }
    }

    .form-group {
        margin-bottom: 0;
    }

    .product {
        width: 200px;

        .edit-item {
            margin-top: 8px;
            padding-top: 8px;
            border-top: 1px solid $color4;

            a {
                margin-right: 20px;
                padding-right: 20px;
                border-right: 1px solid $color4;
            }
        }
    }

    .li-details {
        width: 280px;

        .unit-price,
        .quantity,
        .subtotal {
            padding: 0px 10px;

            .form-group > *:not(input) {
                border: none;
            }
        }

        .unit-price {
            .product-unit-price {
                color: $color3;
            }
        }

        .unit-price,
        .quantity {
            border-right: 1px solid $color4;
        }

        .quantity {
            input {
                width: 75px;
                border: solid;
                border-right: none;
                border-left: none;
                border-top: 1px solid $color4;
                border-bottom: none;
                border-radius: 0px;
            }
        }

        .subtotal {
            .product-subtotal {
                color: $color3;
            }
        }
    }

    .checkout-divider {
        border-bottom: 1px solid $color4;
        margin: 15px 0px;
    }

    .cart-order-details-box {
        max-width: 450px;
    }

    .total-info {
        max-width: 300px;
        width: 100%;

        .cart-total > div {

            &:not(:last-child) {
                border-bottom: 1px solid $color4;
            }

            > div {

                &:first-child {
                }

                &:last-child {
                }
            }
        }

        .value-summary {
            color: $color3;
            font-weight: bold;
        }
    }
}

/* Keeps the spinners visible on number inputs */
.spinner-always {
    &::-webkit-inner-spin-button {
        opacity: 1; // magic!
    }
}


.checkout-data {

    label {
        &:hover {
            cursor: pointer;
        }
    }

    input {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
    }

    input.input-validation-error {
        box-shadow: 0 0 5px #D8000C;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #D8000C;
    }

    .field-validation-error {
        color: #D8000C;
    }

    ul {
        list-style: none;
    }

    #checkout-steps {
        
        .step-title {
            .number {
                width: 100%;
                display: flex;
                border-bottom: 1px solid $color4;
                padding-bottom: 3px;
                color: $color4;
                margin-bottom: 10px;
            }
        }
    }
}