.shop-parent-category {
    padding: 0px !important;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0.5px rgba(0,0,0,0.3);
    position: relative;
    height: 500px;
    overflow: hidden;
    background: #fff;

    .scrolling-inner {
        height: 1000px;
        overflow: hidden;
        margin-top: 0px;
        @include shift(all, 0.5s, ease);

        &.scrolled-up {
            margin-top: -500px;
        }
    }

    .scrolling-top {
        height: 500px;
        position: relative;
    }

    &:nth-of-type(even) {

        .skewed-image-container {
            border-left: 15px solid $color2;
        }
    }


    img {
        margin: 15px auto;
        max-width: 400px;
        height: auto;
        width: 90%;
    }

    .cat-desc-box {

        @include media-breakpoint-up(xs) {
            margin-bottom: 200px;
        }

        @include media-breakpoint-down(xs) {
            margin-bottom: 0px;
        }

        p {
            vertical-align: middle;
            color: #000;
            font-weight: normal;
        }
    }

    .cat-button-box {
        width: 100%;

        @include media-breakpoint-up(xs) {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        @include media-breakpoint-down(xs) {
            position: relative;
        }
    }

    .scrolling-bottom {
        height: 500px;
        position: relative;

        .sub-cat-inner {
            height: auto;
            position: relative;
            display: block;
            max-height: 10000px;

            .row {

                img {
                    width: 90%;
                    max-width: 250px;
                }
            }
        }
    }
}


.side-2 {
    @include media-breakpoint-down(md) {
        width: 100%;

        #categoryNavigationButton {
            display: block;
            margin: 20px auto;
        }

        .title {
            display: none;
        }
    }

    @include media-breakpoint-up(lg) {
        width: 250px;
        float: left;

        #categoryNavigationButton {
            display: none;
        }
    }
}

.center-2 {

    @include media-breakpoint-down(lg) {
        margin-left: 0px;
    }

    @include media-breakpoint-up(lg) {
        overflow: hidden;
        margin-left: 250px;
    }
}


.side-2 {
    background: #fff;

    .block-category-navigation {
        padding: 0px 20px;

        .list {
            padding-left: 0px;
            margin-left: 0px;
            width: 100%;
            margin: 0 auto;

            @include media-breakpoint-up(lg) {
                max-width: 200px;
            }

            @include media-breakpoint-down(md) {
                max-width: 100%;
                column-count: 3;
                column-gap: 20px;
            }

            @include media-breakpoint-down(xs) {
                column-count: 1;
            }

            li {
                background: none;
                list-style: none;
                border-left: 0px;
                padding: 5px 10px;
                @include shift(all, 0.2s, ease);

                @include media-breakpoint-up(lg) {
                    text-indent: 20px;
                    border: 0px;

                    &:not(:last-child) {
                        border-bottom: 1px solid $color4;
                    }

                    &:hover, &.active {
                        border-left: 4px solid $color2;
                        text-indent: 40px;
                        font-weight: bold;
                    }
                }

                @include media-breakpoint-down(md) {
                    text-indent: 0px;
                    margin: 5px;
                    border-bottom: 1px solid $color2;
                    text-align: center;

                    &:first-child {
                        margin-top: 0px;
                    }

                    &:hover {
                        background: $color2;

                        a {
                            color: #fff;
                        }
                    }
                }

                @include media-breakpoint-up(md) {
                    a {
                        color: $gray-800;
                    }
                }

                @include media-breakpoint-down(md) {
                    a {
                        color: $color2;
                    }
                }

                a {
                    display: block;
                    text-decoration: none;
                    font-size: 15px;
                }

                &.inactive {
                    font-weight: normal;
                }

                ul {

                    @include media-breakpoint-up(lg) {
                        padding-left: 10px;
                    }

                    @include media-breakpoint-down(lg) {
                        display: none;
                    }

                    li {
                        text-indent: 0px;

                        &:hover {
                            text-indent: 20px;
                        }
                    }
                }
            }
        }
    }
}

.center-2 {
    background: #fff;

    @include media-breakpoint-up(lg) {
        border-left: 2px solid black;
    }

    .page-title {

        > * {
            display: inline-block;
            margin-bottom: 0px;
            vertical-align: middle;

            p {
                margin-bottom: 0px;
            }

            &:not(:last-child) {
                padding-right: 25px;
            }
        }

        h1 {
            line-height: 0.8;
        }

        .product-sorting {
            margin-bottom: 0px;

            label {
                margin-bottom: 0px;
                padding-left: 25px;
            }
        }
    }

    .product-selectors {

        .form-group {
            display: inline-block;

            > * {
                display: inline-block;
                padding: 0px 10px;
                vertical-align: middle;
            }

            select {
                width: auto;
                overflow: auto;
            }
        }
    }
    //Style the borders for various grid breakpoints
    .item-box {
        border-bottom: 1px solid $color4;
    }

    @include media-breakpoint-down(xs) {

        .item-box:nth-child(1n+1):nth-last-child(-n+1), .item-box:nth-child(1n+1):nth-last-child(-n+1) ~ .item-box {
            border-bottom: 0px;
        }
    }

    @include media-breakpoint-between(xs, xxl) {

        .item-box:nth-child(2n+1):nth-last-child(-n+2), .item-box:nth-child(2n+1):nth-last-child(-n+2) ~ .item-box {
            border-bottom: 0px;
        }
    }

    @include media-breakpoint-between(xxl, xxxl) {

        .item-box:nth-child(3n+1):nth-last-child(-n+3), .item-box:nth-child(3n+1):nth-last-child(-n+3) ~ .item-box {
            border-bottom: 0px;
        }
    }

    @include media-breakpoint-up(xxxl) {

        .item-box:nth-child(4n+1):nth-last-child(-n+4), .item-box:nth-child(4n+1):nth-last-child(-n+4) ~ .item-box {
            border-bottom: 0px;
        }
    }

    .item-box {
        text-align: center;

        .product-item {
            display: inline-block;
            max-width: 250px;
        }

        .product-title {
            height: 2.4em;
        }

        a {
            text-align: center;
            display: block;

            img {
                width: 95%;
                max-width: 300px;
                display: inline-block;
            }
        }

        .product-quickview {
            text-align: center;

            > * {
                display: inline-block;
            }

            span {
                &:after {
                    content: " | ";
                    color: black;
                    padding: 0px 8px;
                }
            }
        }
    }

    .popover {
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
        max-width: 500px;
        width: 500px;

        .popover-header {
            background: #fff;
            border-bottom: 1px solid $color4;

            span {
                display: inline-block;
                margin-left: 10px;
                height: 20px;
                vertical-align: middle;
                border-right: 1px solid $color4;
            }

            a {
                display: inline-block;
                vertical-align: middle;
                margin: 0px 0px 0px 10px;
                padding: 5px 25px;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .description, .prices {
            padding: 5px;
        }

        .prices {
            font-weight: bold;
            font-size: 20px;
        }

        .description:after {
            content: "|";
            padding-left: 10px;
            color: #000;
        }

        .details {
            text-align: center;

            .row > .col-* > * {
                display: inline-block;
            }

            h2 {
                margin-bottom: 0px;
                font-size: 20px;
            }
        }
    }

    .pager {

        li {
            list-style: none;
            background: #fff;
            float: left;
            border-radius: 8px;
            border: 1px solid $color2;
            margin: 10px 5px;
            font-family: Verdana;
            padding: 5px 12px;
            @include shift (all,0.2s, ease);

            a {
                color: $color2;
            }

            &:hover, &.current-page {
                background: $color2;
                cursor: pointer;

                a, span {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}