.shop-parent-category {
    padding: 0px !important;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0.5px rgba(0,0,0,0.3);
    position: relative;
    height: 500px;
    overflow: hidden;
    background: #fff;

    .scrolling-inner {
        height: 1000px;
        overflow: hidden;
        margin-top: 0px;
        @include shift(all, 0.5s, ease);

        &.scrolled-up {
            margin-top: -500px;
        }
    }

    .scrolling-top {
        height: 500px;
        position: relative;
    }

    &:nth-of-type(even) {

        .skewed-image-container {
            border-left: 15px solid $color2;
        }
    }


    img {
        margin: 15px auto;
        max-width: 400px;
        height: auto;
        width: 90%;
    }

    .cat-desc-box {

        @include media-breakpoint-up(xs) {
            margin-bottom: 200px;
        }

        @include media-breakpoint-down(xs) {
            margin-bottom: 0px;
        }

        p {
            vertical-align: middle;
            color: #000;
            font-weight: normal;
        }
    }

    .cat-button-box {
        width: 100%;

        @include media-breakpoint-up(xs) {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        @include media-breakpoint-down(xs) {
            position: relative;
        }
    }

    .scrolling-bottom {
        height: 500px;
        position: relative;

        .sub-cat-inner {
            height: auto;
            position: relative;
            display: block;
            max-height: 10000px;

            .row {

                img {
                    width: 90%;
                    max-width: 250px;
                }
            }
        }
    }
}


.side-2 {
    background: #fff;

    .block-category-navigation {
        padding: 0px 20px;

        .list {
            padding-left: 0px;
            margin-left: 0px;
            width: 100%;
            max-width: 200px;
            margin: 0 auto;

            li {
                text-indent: 20px;
                background: none;
                list-style: none;
                border-left: 0px;
                padding: 5px 10px;
                @include shift(all, 0.2s, ease);

                &:not(:last-child) {
                    border-bottom: 1px solid $color4;
                }

                a {
                    display: block;
                    text-decoration: none;
                    color: $gray-800;
                    font-size: 15px;
                }

                &:hover, &.active {
                    border-left: 4px solid $color2;
                    text-indent: 40px;
                    font-weight: bold;
                }

                &.inactive {
                    font-weight: normal;
                }

                ul {
                    padding-left: 10px;

                    li {

                        text-indent: 0px;
                        
                        &:hover {
                            text-indent: 20px;
                        }
                    }
                }
            }
        }
    }
}

.center-2 {
    background: #fff;

    @include media-breakpoint-up(xs) {
        border-left: 2px solid black;
    }

    .product-selectors {

        .form-group {

            display: inline-block;
            
            > * {
                display: inline-block;
                padding: 0px 10px;
                vertical-align: middle;
            }

            select {
                width: auto;
                overflow: auto;
            }
        }
    }

    .item-box {
        img {
            width: 95%;
            max-width: 400px;
            margin: 0 auto;
        }
    }
}