.header-links {
    position: fixed;
    top: 0px;
    right: 0px;


    @include media-breakpoint-down(md) {
        padding-right: 0px;
        border-bottom: 2px solid black;
        width: 100%;
    }
}

.header-links {
    display: inline-block;
    vertical-align: middle;

    .desktop-buttons {
        @include media-breakpoint-down(md) {
            display: none;
        }
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f3f3+0,ffffff+100 */
        background: $color1;
        border-radius: 0px 0px 0px 8px;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        padding-right: 30px;
        box-shadow: 0px 0px 8px 0.5px rgba(0,0,0,0.5);

        ul {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0;
            padding-left: 0;

            li {
                list-style: none;
                display: block;
                float: left;
                padding: 10px 0px;
                border-right: 1px solid #fff;

                &.sidebar-open-button {
                    &:hover {
                        cursor: pointer;
                    }

                    a {
                        padding-right: 10px;
                    }

                    i {
                        padding-right: 0px;
                        padding-left: 10px;
                        @include shift(all,0.2s,ease);
                    }

                    &:hover {
                        background: #fff;
                        cursor: pointer;

                        i {
                            padding-right: 10px;
                            padding-left: 0px;
                        }
                    }
                }

                a {
                    font-family: $font-stack-verdana;
                    color: #fff;
                    font-size: 12;
                    text-decoration: none;
                    padding: 0px 10px;
                    position: relative;
                    border-bottom: 1px solid $color1;
                    border-right: 1px solid $color1;
                    border-left: 1px solid $color1;
                    top: 0;
                    @include shift(all,0.2s,ease-out);
                }

                &:hover a {
                    background: #fff;
                    color: $color1;
                    top: 15px;
                    padding: 30px 10px 10px;
                    border-radius: 0px 0px 5px 5px;
                    border-bottom: 1px solid black;
                    border-right: 1px solid black;
                    border-left: 1px solid black;
                }

                &.topcartlink-active a {
                    background: #fff;
                    color: $color1;
                    top: 15px;
                    padding: 30px 10px 9px;
                    border-radius: 0px 0px 5px 5px;
                    border-bottom: 1px solid black;
                    border-right: 1px solid black;
                    border-left: 1px solid black;
                }
            }
        }
    }

    .mobile-buttons {
        background: #fff;

        @include media-breakpoint-up(md) {
            display: none;
        }

        @include media-breakpoint-down(md) {
            display: table;
            text-align: center;
            width: 100%;

            li {
                display: table-cell;
                vertical-align: middle;
                font-size: 15px;

                &.sidebar-open-button {
                    width: 100px;
                }

                &#mobile-search-fixed {
                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                }

                #small-searchterms {
                    width: 70%;
                }
            }

            .sidebar-open-button {
                background: $color1;
                text-indent: 0px;
                text-align: center;
                border-right: 1px solid $color1;
                @include shift(all,0.2s,ease);

                a {
                    padding-right: 10px;
                }

                i {
                    padding-right: 0px;
                    padding-left: 10px;
                    @include shift(all,0.2s,ease);
                }

                &:hover {
                    background: #fff;
                    cursor: pointer;

                    i {
                        padding-right: 10px;
                        padding-left: 0px;
                    }
                }

                a {
                    color: #fff;
                    @include shift(all,0.2s,ease);
                }

                &:hover a {
                    color: $color1;
                    text-decoration: none;
                }
            }

            .top-fixed-totals {
                @include media-breakpoint-between(sm, md) {
                    border-left: 1px solid black;
                }
            }

            #fixed-checkout {

                @include media-breakpoint-down(sm) {
                    width: 100px;
                }

                .checkout-button {
                    width: 100%;
                    padding: 9px 15px;
                    font-size: 20px;
                    font-family: Geoslab;
                    color: #fff;
                    border-left: 1px solid $color2;
                    border-top: none;
                    border-right: none;
                    border-bottom: none;
                    box-shadow: none;
                    @include shift(all, 0.2s, ease);

                    &:hover {
                        color: $color2;
                        background: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
