.admin-header-links {
    background: #000;
    text-align: center;
    
    .administration {
        display: inline-block;
        text-decoration: none;
        padding: 5px 10px;
        margin: 10px 0px;
        color: #fff;
        background: $color2;
        border: 2px solid #fff;
        font-family: $font-stack-verdana;
    }
}

.header-lower {
    width: 100%;
    overflow: auto;
    display: table;
    text-align: right;
    position: relative;

    @include media-breakpoint-up(xs) {
        padding: 0px 30px;
    }

    @include media-breakpoint-down(md) {
        text-align: center;
        border-bottom: 2px solid #000;
    }
}

.header-logo {
    margin-top: 15px;
    margin-bottom: 15px;
    display: table-cell;

    @include media-breakpoint-up(xl) {
        width: 400px;
        height: auto;
        float: left;
    }

    @include media-breakpoint-between(lg, xl) {
        width: 300px;
        height: auto;
        float: left;
    }

    @include media-breakpoint-between(md, lg) {
        width: 300px;
        height: auto;
        float: left;
    }

    @include media-breakpoint-down(md) {
        width: 90%;
        max-width: 400px;
        height: auto;
        float: none;
        display: inline-block;
    }
}

.top-nav-spacer {
    display: table-cell;
    width: auto;
}

.top-nav-block {
    position: relative;
    text-align: right;
    display: table-cell;
    vertical-align: bottom;
    overflow: hidden;
    width: auto;
}

.top-nav-spacer, .top-nav-block {
    @include media-breakpoint-down(md) {
        display: none;
    }
}